<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adrian's Bookstore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img src="~/Images/PAAlogoSM.png"  class="mylogo" />
                </a>
            </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-group form-inline searchbar" }))
                                {
                                    @Html.TextBox("searchString", null, new { @class = "form-control" })
                                    <!-- <input name="Search" type="text" class="form-control" placeholder="Search" /> -->
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                }
                            </li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Store", "List", "Book")</li>
                            <li><a href="/Cart"><span class="glyphicon glyphicon-shopping-cart"></span>Cart<span class="badge">@ViewBag.CartCount</span></a></li>
                            @if (Context.User.Identity.IsAuthenticated)
                            {
                            <li>@Html.ActionLink("Sign Out as " + User.Identity.Name, "LogOff", "Account")</li>
                            <!-- if (User.IsInRole("Administrator")) when set up in database-->
                            <li>@Html.ActionLink("Products Admin", "Index", "BooksAdmin")</li>
                            
                            }
                        </ul>
                        
                        @if (!User.Identity.IsAuthenticated)
                        {

                            using (Html.BeginForm("SignIn", "Account", null, FormMethod.Post, new { @class = "navbar-form navbar-right form-inline signin" }))
                            {
                                <div class="form-group form-inline">
                                    <a class="btn btn-success" href="/Account/Register">Register</a>
                                    <a class="btn btn-default collapsedbutton" href="/Account/SignIn">Sign In</a>
                                </div>
                                <div class="form-group form-inline uncollapsedbutton">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Sign In
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <div class="form-group">
                                                Email
                                                <input name="userName" type="email" class="form-control" id="email" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                Password
                                                <input name="password" type="password" class="form-control" id="password" placeholder="*******" />
                                            </div>
                                            <li role="separator" class="divider"></li>
                                            <a>@Html.ActionLink("Forgot Password?", "ForgotPassword", "Account", new { @class = "forgotpw" })</a>
                                                <button type="submit" class="btn btn-warning btn-sm pull-right">Login</button>

                                        </ul>
                                    </div>
                                </div>
                            }
                        }                                         
                    </div>      
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="font-size: 10px;">@DateTime.Now.Year - Poor Adrian's Almanac</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
